[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bootstrap = "*"
flask-htpasswd = "*"
flask-wtf = "*"
flask-dotenv = "*"
python-dotenv = "*"
psycopg2-binary = "*"
jupyter = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
