

{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} -   {% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
    <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button/>
                 <a class="navbar-brand" href="{{ url_for('index') }}">Welcome {{ current_user.username }}</a>
            </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
             <li><a href="{{ url_for('index') }}">Home</a></li>

        {% if not current_user.is_anonymous %}
            <li><a href="{{ url_for('new_gift') }}">Add gift to my wishlist</a></li>
        {% endif %}
        {% if not current_user.is_anonymous %}
            <li><a href="{{ url_for('list_gifts') }}">Spoil me (organise my wishlist)</a></li>
        {% endif %}
        {% if not current_user.is_anonymous %}
            <li><a href="{{ url_for('offer_gift') }}">Offer a gift</a></li>
        {% endif %}
            {% if not current_user.is_anonymous %}
            <li><a href="{{ url_for('gift_you_offer') }}">Which gifts did I choose to offer?</a></li>
        {% endif %}
        {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
        {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
        {% else %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
        </ul>
         </div>
    </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}