{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<h1> List of gifts</h1>
<div class="table-responsive">
    <table class="table">
          <thead>
          <tr>
           <th scope="col">What</th>
           <th scope="col">description</th>
            <th scope="col">Delete it </th>
          </tr>
          </thead>
         <tbody>
<form method="post" action="/list_gifts">
{% for gift in gifts %}

    <th scope="row">{{ gift.name}} </th>
        <td>{{ gift.description }}</td>
        <td><input type="submit" name="{{ gift.id }}" value="Delete"> </td>
    </tr>
        {% endfor %}
</form>
         </tbody>
    </table>
</div>
    <h1>Add a new gift</h1>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
            {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=64) }}<br>
            {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}